[submodule "packages/on_demand_video_decoder/ext_impl/external/NVTX"]
	path = packages/on_demand_video_decoder/ext_impl/external/NVTX
	url = https://github.com/NVIDIA/NVTX.git

[submodule "packages/on_demand_video_decoder/ext_impl/external/dlpack"]
	path = packages/on_demand_video_decoder/ext_impl/external/dlpack
	url = https://github.com/dmlc/dlpack.git

[submodule "packages/on_demand_video_decoder/ext_impl/external/pybind11"]
	path = packages/on_demand_video_decoder/ext_impl/external/pybind11
	url = https://github.com/pybind/pybind11.git
